div{
    color: black;
    background-color: #696969;
    padding: 10px;
    margin: 5px;
}
#github{
    color: black;
    background-color: paleturquoise;
    padding: 10px;
    background-image: url('images/wp11551447-cyberpunk-style-wallpapers.jpg');
}