div{
    color:cadetblue;
    background-color: black;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
#github{
    color: black;
    background-color: lightslategray;
    text-align: center;
    background-image: url('images/wp11551447-cyberpunk-style-wallpapers.jpg');
    margin: 10px;
    padding: 10px;
}